:root {
    --gris: #777372;
    --verde: #bed630;
    --verde-oscuro: #77bf43;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Frutiger-Bold', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    gap: 20px;
}

.container img {
    width: 20%;
    height: auto;
    cursor: pointer;
    justify-content: center;
}

/* Estilo para el formulario */

.login-form {
    font-family: 'Frutiger-Bold', Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: -1px 21px 32px -14px rgba(119, 115, 114, 1);
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: var(--gris);
    font-weight: bold;
    font-size: 12px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Estilo para los campos de entrada */

.container-label {
    align-items: center;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.container-label i {
    color: var(--gris);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 10px;
    background-color: var(--verde-oscuro);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: var(--verde);
}

.title {
    padding: 15px;
}