* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Frutiger-Bold', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px; /* Limita el ancho del contenido */
    margin: 0 auto; /* Centra el contenido horizontalmente */
}

.container img {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}

/* Estilo para el formulario */

.login-form {
    width: 80%; /* Aumenta el ancho del formulario */
    max-width: 400px; /* Limita el ancho máximo del formulario */
    font-family: 'Frutiger-Bold', Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc; /* Agrega un borde al formulario */
    border-radius: 5px; /* Corrige la propiedad 'border-radius' */
    box-shadow: -1px 21px 32px -14px rgba(119, 115, 114, 1);
    text-align: left; /* Alinea el texto a la izquierda */
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    color: #777372;
    font-weight: bold;
    font-size: 12px;
}

/* Estilo para los campos de entrada */

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #77bf43;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #bed630;
}

.title {
    padding: 15px;
}

footer {
    margin: 20px 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    font-size: small;
    padding: 5px;
    text-align: center;
    font-weight: 400;
}