@font-face {
    font-family: 'Frutiger-Bold';
    src: url('./Frutiger\ 65\ Bold/') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: 'Frutiger-Bold', Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

/* hover */
.logo:hover {
    animation: scaleAndColorChange 0.5s ease infinite;
}

/* Estilo para el formulario */
.login-form {
    width: 30%;
    height: auto;
    font-family: 'Frutiger-Bold', Arial, sans-serif;
    background:#ffffff;
    padding: 20px;
    border-radius: 5px solid #777372;
    -webkit-box-shadow: -1px 21px 32px -14px rgba(119,115,114,1);
    -moz-box-shadow: -1px 21px 32px -14px rgba(119,115,114,1);
    box-shadow: -1px 21px 32px -14px rgba(119,115,114,1);
    text-align: center;
    margin-top: -50px; /* Ajusta el margen superior para subir el formulario */
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    color: #777372;
    font-weight: bold;
    font-size: 12px;
}

/* Estilo para los campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #77bf43;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
    background-color: #bed630;
}

.title {
    padding: 15px;
}

